.nu_btn {
  background-repeat: no-repeat;
}
.nu_btn._primary {
  background-image: linear-gradient(45deg, #6da0fb 0%, #3b66f5 100%);
  color: #3b66f5;
}
.nu_btn._warning {
  background-image: -webkit-gradient(linear, left top, right top, from(#ffc152), to(#ff8d29));
  background-image: linear-gradient(90deg, #ffc152 0%, #ff8d29 100%);
  color: #ff8d29;
}
.nu_btn._secondary {
  color: #6c757d;
}
.nu_btn._fill {
  border: none 0;
}
.nu_btn._fill._loading:before,
.nu_btn._fill._loading:after {
  border-color: #fff;
}
.nu_btn._large {
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  font-size: 20px;
}
.nu_btn._middle {
  height: 32px;
  line-height: 32px;
  padding: 0 24px;
  font-size: 14px;
}
.nu_btn._small {
  height: 24px;
  line-height: 24px;
  padding: 0 16px;
  font-size: 12px;
}
.nu_btn._small._circle {
  width: 24px;
  height: 24px;
}
.nu_btn._middle._circle {
  width: 32px;
  height: 32px;
}
.nu_btn._circle {
  width: 40px;
  height: 40px;
}
.nu_btn._large._circle {
  width: 48px;
  height: 48px;
}
